/* .main-container {
  display:
} */

.bubble {
  display: inline-block;
  border: 2px solid blue;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transition: 1s;
  animation: bubble-growth 1s 1 forwards;
  /* background: hsl(0, 100%, 50%); */
}

@keyframes bubble-growth {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 100px;
    height: 100px;
  }
}
